* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

:root {
    font-family: "Noto Sans", sans-serif;
    --color-light: #f4f7ff;
    --color-dark: #000;
    --color-grey: #829399;
    --color-text-grey: #788270;
    --color-blue: #357DED;
    --color-light-blue: #DAF0EE;
    --color-blue-hover: #075ade;
}

body {
    background-color: var(--color-light);
    padding: 0rem 1rem;
}

header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0rem;
    color: var(--color-dark);
}

header h1 {
    text-align: center;
    padding-bottom: 0.8rem;
    color: var(--color-blue);
}

header h4 {
    color: var(--color-dark);
    display: flex;
    justify-content: center;
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

dialog {
    border: none;
    width: 460px;
    max-width: 90%;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: rgba(51, 51, 231, 0.509) 0px 7px 29px 0px;
}

dialog[open] {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.close-dialog {
    cursor: pointer;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1.5rem;
}

.form-group label {
    margin-bottom: 1rem;
    color: var(--color-text-grey);
}

.form-group input {
    padding: 0.8rem 0rem 0.8rem 0.5rem;
    font-weight: 500;
}


textarea {
    padding: 0.5rem 0 0 0.5rem;
}

#note-title,
#note-desc {
    border: 1px solid var(--color-grey);
    border-radius: 0.4rem;
}

.desc {
    color: var(--color-text-grey);
    height: 80px;
    overflow: scroll;
    margin-bottom: 1rem;
    scrollbar-width: none;
}

.category {
    margin-top: 1rem;
}

.action-btn {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.note-container {
    /* width: 350px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background-color: #ffffff;
    /* margin: 0rem 2rem 2rem 0rem; */
    color: var(--color-dark);
    padding: 1.25rem;
    border-radius: 0.5rem;
}


.btn-add,
.btn-submit {
    background-color: var(--color-blue);
    font-weight: 700;
    color: #fff;
    border: none;
    padding: 0.8rem;
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover {
        background-color: var(--color-blue-hover);
        transition: all 0.3s;
    }
}


.btn-close-dialog {
    background-color: var(--color-dark);
    font-weight: 700;
    color: #fff;
    border: none;
    padding: 0.8rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.note-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.modify-container {
    display: flex;
    gap: 1.6rem;
}

.fa-pencil,
.fa-trash {
    cursor: pointer;
}

.action-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.search-bar {
    width: 100%;
    padding: 1rem;
    border: 0.1rem solid var(--color-grey);
    border-radius: 0.4rem;
    font-size: 1rem;
}

.action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0rem 2rem 0rem;
}

.tag-tabs {
    display: flex;
    list-style: none;
    gap: 5rem;
    font-weight: 500;
    cursor: pointer;
}

.tag-tabs li {
    padding: 0.5rem 1.5rem;
}

.tag-tabs li.active {
    background-color: var(--color-blue);
    color: var(--color-light);
    border-radius: 0.5rem;
}

.del,
.fa-pencil {
    color: var(--color-grey);
}

.category-tabs input[type="radio"] {
    display: none;
}

.category-tabs .tab {
    border: none;
    background-color: var(--color-light-blue);
    color: var(--color-blue);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 0.9rem;
}

.category-tabs .tab i {
    margin-right: 0.4rem;
}

.category-tabs input[type="radio"]:checked+.tab {
    background-color: var(--color-blue);
    color: var(--color-light);
}

.category-tag {
    background-color: var(--color-blue);
    color: var(--color-light);
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.category-tag i {
    margin-right: 0.8rem;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (max-width:768px) {
    .tag-tabs {
        gap: 0rem;
    }

    .note-title {
        font-size: 0.8rem;
    }

    .desc {
        font-size: 0.7rem;
    }
}

@media (max-width:991px) {
    .main-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:576px) {
    .category-tag {
        font-size: 0.6rem;
    }

    .action-container {
        flex-direction: column-reverse;
        gap: 1rem;
        font-size: 0.8rem;
    }

    .note-container {
        padding: 1rem;
    }

    .note-title {
        font-size: 0.6rem;
    }

    .modify-container{
        gap: 1rem;
        font-size: 0.8rem;
    }

}